[build]
builder = "NIXPACKS"

[deploy]
startCommand = "npm run build && npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[buildpacks]]
provider = "https://github.com/jonathanong/heroku-buildpack-ffmpeg-latest.git"
